.left-side{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-side{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2{
  margin: 0;
}

.event-tile{
  width: 200px;
}

@media screen and (max-width: 768px) {

  .events-listing, .selected-events-listing{
    justify-content: center;
  }

  .floating-filters-wrapper{
    .filter{
      padding-bottom: 12px;
      height: 62px;
      img{
        width: 20px;
        height: 20px;
      }
    }
  }

  .events-listing{
    max-width: 100%;
  }
  .right-listing{
    display: none;
    
  }
  #searchForm{
    justify-content: flex-start;
  }



}




@media screen and (min-width: 768px) {

  .events-listing, .selected-events-listing{
    justify-content: flex-start;
  }
  .events-listing{
    max-width: 75%;
  }


  .filter{
    padding-bottom: 12px;
    height: 90px;
    img{
      width: 36px;
      height: 36px;
    }
  }

  #searchForm{
    justify-content: center;
  }



}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .right-listing{
    display: flex;
    max-width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .right-listing{
    display: flex;
    max-width: 20%;
  }
}
